<head>
  <title>filedemo</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>
  <p>Try</p>
  <p><code>https://t4.ftcdn.net/jpg/00/95/30/85/240_F_95308551_DHaO7H1lJV9zBdU1CAQX8kvk1ggnXY7b.jpg</code></p>
  
  {{> download}}
</body>

<template name="download">
  <p>
    <input type="text">
  </p>
  <p>{{url}}</p>
  <p>{{name}}</p>
  <p>
    <button>Get File</button>
  </p>
  <p>
    <img alt="" src="{{b64}}">
  </p>
  <hr>
  
</template>
